.tema-escuro{
    background:#36255C;
    color:white;
}

.tema-escuro .card,
.tema-escuro .meta-container,
.tema-escuro .novo-projeto{

    background:#4A3678;
    color:white;
}

.tema-escuro input,
.tema-escuro select{

    background:#5b478f;
    color:white;
    border:none;
}

.tema-escuro button{
    background:#D2C3F6;
    color:#36255C;
}

.tema-verde .card{
    border-left-color:#27AE60;
}

.tema-azul .card{
    border-left-color:#2980B9;
}

.tema-rosa .card{
    border-left-color:#C039A0;
}
